.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #113043fb;
    padding: 1rem;
    line-height: 30px;
}

#logo{
    height: 30px;
    width: 200px;
}
.options ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.options ul *{
    font-weight: 600;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
.active{
    border-bottom: 3px solid rgb(3, 180, 250);
}