.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #113043fb;
    padding: 1rem;
    line-height: 30px;
}

#logo{
    height: 30px;
    width: 200px;
}
.options ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.options ul *{
    font-weight: 600;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
.active{
    border-bottom: 3px solid rgb(3, 180, 250);
}
.menus{
    display: none;
}
.menus img{
    height: 30px;
    width: 30px;
}

@media screen and (max-width :710px ) {
    .options{
       display: none;
    }
    .options ul{
        flex-direction: column;
    }
    .menus{
        display:block;
        cursor: pointer;
    }
    .options.visible{
        position: absolute;
        right: -110px;
        z-index: 99;
        top: 70px;
        background: #000000;
        display: flex;
        padding: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
        transition: transform 1s ease-in-out; /* add a transition effect for smooth animation */
        transform: translateX(-100%);
    }
  
}
